@use "../utilities/mixins" as *;
@use "../layout/layout" as *;

.hero {
  display: flex;
  flex-direction: column;
  position: relative;

  &__content {
    padding: 2rem 2.4rem;
  }

  @include breakpoint("768px") {
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    padding: 0 5rem;
    margin-top: 7rem;

    &__content {
      padding: 0;
    }
  }

  @include breakpoint("1000px") {
    gap: 10rem;
  }
}
