<!-- Cart filled -->
<section class="cart hidden">
  <h2>Cart</h2>
  <div class="cart__line"></div>
  <div class="cart__product">
    <img src="images/image-product-1-thumbnail.jpg" alt="Sneaker image" />
    <div>
      <p>Autumn limited edition sneakers</p>
      <p>
        $125.00 x <span class="cart__quantity">1</span>
        <span class="cart__amount">$125.00</span>
      </p>
    </div>
    <img src="images/icon-delete.svg" alt="Delete" />
  </div>
  <button class="cart__checkout">Checkout</button>
</section>

<!-- Cart empty -->
