<div class="hero__gallery">
  <div class="gallery__mobile">
    <img src="images/icon-previous.svg" class="gallery__icon" alt="Previous" />
    <div class="gallery__img">
      <img
        src="images/image-product-1.jpg"
        class="hero-img"
        alt="Shoes image"
      />
      <img
        src="images/image-product-2.jpg"
        class="hidden hero-img"
        alt="Shoes image"
      />
      <img
        src="images/image-product-3.jpg"
        class="hidden hero-img"
        alt="Shoes image"
      />
      <img
        src="images/image-product-4.jpg"
        class="hidden hero-img"
        alt="Shoes image"
      />
    </div>
    <img src="images/icon-next.svg" class="gallery__icon" alt="Next" />
  </div>

  <div class="gallery__desktop">
    <img
      src="images/image-product-1.jpg"
      class="gallery__active"
      alt="Sneaker image"
    />
    <div class="gallery__thumbnails">
      <img
        src="images/image-product-1-thumbnail.jpg"
        class="gallery__thumbnail gallery__thumbnail--active"
        data-num="1"
      />
      <img
        src="images/image-product-2-thumbnail.jpg"
        class="gallery__thumbnail"
        data-num="2"
      />
      <img
        src="images/image-product-3-thumbnail.jpg"
        class="gallery__thumbnail"
        data-num="3"
      />
      <img
        src="images/image-product-4-thumbnail.jpg"
        class="gallery__thumbnail"
        data-num="4"
      />
    </div>
  </div>
</div>
