<div class="hero__content">
  <header>Sneaker Company</header>
  <h1>Fall Limited Edition Sneakers</h1>
  <p>
    These low-profile sneakers are your perfect casual wear companion. Featuring
    a durable rubber outer sole, they’ll withstand everything the weather can
    offer.
  </p>
  <div class="hero__price">
    <p class="hero__price--large">$125.00 <span>50%</span></p>
    <p class="hero__price--small">$250.00</p>
  </div>
  <div class="btn-container">
    <div class="hero__quantity">
      <span class="decrease">-</span>
      <span class="quantity">3</span>
      <span class="increase">+</span>
    </div>
    <button class="btn__add">
      <img src="images/icon-cart.svg" alt="" /><span>Add to cart</span>
    </button>
  </div>
</div>
