<nav class="block">
  <div class="container navbar">
    <div>
      <img id="hamburger" src="images/icon-menu.svg" alt="Menu" />
      <a href="#"
        ><img class="navbar__logo" src="images/logo.svg" alt="Logo"
      /></a>
      <ul>
        <li><a href="#">Collections</a></li>
        <li><a href="#">Men</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div>
      <img id="cart" src="images/icon-cart.svg" alt="Cart" />
      <img
        class="navbar__avatar"
        src="images/image-avatar.png"
        alt="User Avatar"
      />
    </div>
  </div>
  <div class="navbar__mobile hidden">
    <img id="nav-close" src="images/icon-close.svg" />
    <ul>
      <li><a href="#">Collections</a></li>
      <li><a href="#">Men</a></li>
      <li><a href="#">Women</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
